<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sports Event Management</title>
</head>
<body>
<header>
    <h1>The server is running!</h1>
    <p>If you see this text, the server is <strong>definitely</strong> working!</p>
</header>
<main>

    {{{body}}}

</main>
</body>
</html>